<a href="https://colab.research.google.com/github/S3IFK/Practise/blob/main/SAles_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Sales.csv')

In [3]:
df

    Sr.no        Date   Sales
0       1  01-04-2020   100.0
1       2  04-04-2020   150.0
2       3  10-04-2020   100.0
3       4  01-06-2020   500.0
4       5  05-09-2020   700.0
5       6  11-01-2021   500.0
6       7  01-03-2021   100.0
7       8  05-04-2021   100.0
8       9  07-09-2021  1500.0
9      10  12-01-2022  1000.0
10     11  01-03-2022  5000.0
11     12  05-04-2022   250.0
12     13  07-06-2022  1500.0
13     14  10-09-2022  2500.0
14     15  12-12-2022   500.0
15     16  01-03-2023  5800.0
16     17  04-04-2023   200.0
17     18         NaN     NaN
18     19         NaN     NaN
19     20         NaN     NaN
20     21         NaN     NaN

In [6]:
dfn = df.drop(df.columns[1],axis=1, inplace=True)

In [9]:
dfn

In [10]:
df

    Sr.no   Sales
0       1   100.0
1       2   150.0
2       3   100.0
3       4   500.0
4       5   700.0
5       6   500.0
6       7   100.0
7       8   100.0
8       9  1500.0
9      10  1000.0
10     11  5000.0
11     12   250.0
12     13  1500.0
13     14  2500.0
14     15   500.0
15     16  5800.0
16     17   200.0
17     18     NaN
18     19     NaN
19     20     NaN
20     21     NaN

In [11]:
dfn = pd.read_csv('Sales.csv')

In [13]:
dfn.drop(dfn.columns[0], axis=1,inplace=True)

In [14]:
dfn

          Date   Sales
0   01-04-2020   100.0
1   04-04-2020   150.0
2   10-04-2020   100.0
3   01-06-2020   500.0
4   05-09-2020   700.0
5   11-01-2021   500.0
6   01-03-2021   100.0
7   05-04-2021   100.0
8   07-09-2021  1500.0
9   12-01-2022  1000.0
10  01-03-2022  5000.0
11  05-04-2022   250.0
12  07-06-2022  1500.0
13  10-09-2022  2500.0
14  12-12-2022   500.0
15  01-03-2023  5800.0
16  04-04-2023   200.0
17         NaN     NaN
18         NaN     NaN
19         NaN     NaN
20         NaN     NaN

In [15]:
dfn['Date'] = dfn['Date'].astype(np.datetime64)

In [16]:
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    17 non-null     datetime64[ns]
 1   Sales   17 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 464.0 bytes

In [18]:
dfw = pd.read_csv('Sales.csv', index_col=0, parse_dates=True)

In [29]:
dfw.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21],
           dtype='int64', name='Sr.no')

In [28]:
dfn.index

RangeIndex(start=0, stop=21, step=1)

In [27]:
dfn.loc['04-04-2023']

KeyError: ignored